package ${package}.api.${moduleName}.model.${pathName};

import com.bjyt.bange.common.core.dto.PageDTO;
import com.bjyt.bange.common.core.enums.OrderTypeEnum;
import com.bjyt.bange.common.core.validation.EnumValidAnnotation;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.experimental.Accessors;

/**
 * ${comments}分页 DTO
 *
 * @author ${author}
 * @date ${datetime}
 */
@ApiModel(value = "${className}PageDTO", description = "${comments}分页 DTO")
@Data
@Accessors(chain = true)
public class ${className}PageDTO extends PageDTO {

    @ApiModelProperty(value = "搜索keyword")
    private String keyword;

    @ApiModelProperty(value = "排序的字段", example = "create_time")
    private String orderField;

    @ApiModelProperty(value = "排序类型：1-顺序;2-倒序", example = "1")
    @EnumValidAnnotation(message = "排序类型值错误", target = OrderTypeEnum.class)
    private Integer orderType;

}